body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

header {
    background-color: rgb(170, 23, 215);
}

.nav {
    display: flex;
    justify-content: center;
    /* gap: 30px; */
    padding-top: 20px;
    font-size: 30px;
    padding-bottom: 20px;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.menu {
    color: blanchedalmond;
    text-decoration: none;
    transition: color 1s ease;
}

.menu:hover {
    color: red;
}

.photo {
    border-radius: 50%;
}

.cat_photo {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.surname {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 40px;
    color: blueviolet;

}

.my_text {
    color: blueviolet;
    display: flex
}

.contacts {
    font-size: 25px;
    display: flex;
    border: ;
    padding: 100px;
}